
/*For Bootstrap Small Breakpoint*/

@media (min-width: 576.98px) { 
    .sm-w-25 {
        width: 25% !important;
      }

    .sm-w-50 {
        width: 50% !important;
      }

    .sm-w-75 {
        width: 75% !important;
      }

    .sm-w-100 {
      width: 100% !important;
    }
 }

 /*For Bootstrap Medium Breakpoint*/

@media (max-width: 767.98px) {
    .md-w-25 {
      width: 25% !important;
    }
  }