/* Secular One Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Secular+One&display=swap');

body {
    font-family: 'Secular One';
}

.business-card {
    background-color: rgb(255, 248, 239);
    border: 2px solid black;
    overflow: hidden;
    width: 800px;
    height: 500px;
    margin-top: 20px;
    border-radius: 20px;
}

.card-name {
    margin-top: 200px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    z-index: 6;
    position: absolute;
    top: 30px;
}

.card-subheader {
    color: white;
    position: absolute;
    top: 290px;
    transform: translate(23px);
}

.email-container {
    color: white;
    position: absolute;
    top: 390px;
    transform: translate(23px);
}

.phone-container {
    color: white;
    position: absolute;
    top: 430px;
    transform: translate(23px);
}

.email-link, .phone-link {
    text-decoration: none;
    color: white;
    position: absolute;
    transform: translate(10px, 5px);
    width: 200px;
}

.phone-link:hover, .email-link:hover {
    color:burlywood;
}


.card-right-column {
    position: absolute;
    transform: translate(450px,-385px);
    width: 300px;
}

.right-links {
    text-align: right;
    
}

.right-links a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.right-links li {
    margin-bottom: 30px;
}

.right-links a:hover {
    color: rgb(196, 58, 58);
}

.left-angle {
    background-color: black;
    width: 500px;
    height: 600px;
    transform: rotate(10deg) translate(-80px, -40px);
}