/* Secular One Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Secular+One&display=swap');

body {
    font-family: 'Secular One';
}

.business-card {
    background-color: rgb(255, 248, 239);
    border: 2px solid black;
    overflow: hidden;
    width: 800px;
    height: 500px;
    margin-top: 20px;
    border-radius: 20px;
}

.card-name {
    margin-top: 200px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    z-index: 6;
    position: absolute;
    top: 30px;
}

.card-subheader {
    color: white;
    position: absolute;
    top: 290px;
    transform: translate(23px);
}

.email-container {
    color: white;
    position: absolute;
    top: 390px;
    transform: translate(23px);
    
}

.contact-content-container {
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 236, 211);
    border-radius: 50px;
}

.contact-email {
    display: inline;
    
}

.phone-container {
    color: white;
    position: absolute;
    top: 430px;
    transform: translate(23px);
}

.email-link, .phone-link {
    text-decoration: none;
    color: white;
    position: absolute;
    transform: translate(10px, 5px);
    width: 200px;
}

.phone-link:hover, .email-link:hover {
    color:burlywood;
}


.card-right-column {
    position: absolute;
    transform: translate(450px,-385px);
    width: 300px;
}

.right-links {
    text-align: right;
    
}

.right-links a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.right-links li {
    margin-bottom: 30px;
}

.right-links a:hover {
    color: rgb(196, 58, 58);
}

.social-link-row {
    text-align: center;
    transform: translate(0,18px);
}

.content-image:hover {
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(196, 58, 58);
}

.contact-link {
    text-decoration: none;
    color:black;
}

.contact-link:hover {
    color: rgb(196, 58, 58);
}

.left-angle {
    background-color: rgb(17, 8, 8);
    width: 500px;
    height: 600px;
    transform: rotate(10deg) translate(-80px, -40px);
}

.about-container, .project-container, .contact-container {
    margin-top: 100px;
    background-color: rgb(255, 248, 239);
    padding: 40px;
    border-radius: 20px;
    border: 2px solid black;
}

.back-to-top {
    background-color: rgb(255, 248, 239);
    width: 50px;
    height: 50px;
}

.btt-nav {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.content-header {
    text-align: center;
    font-size: 30px;
    
    margin-bottom: 100px;
}

.content-subheader {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
}

i {
    font-size: 50px;
}

.stack-row {
    margin-bottom: 20px;
    background-color: rgb(255, 236, 211);
    padding: 20px;
    border-radius: 60px;
}

.project-row {
    margin-top: 100px;
}

.project-col {
    min-width: 230px;
    height: 400px;
    margin: 5px;
    background-color: rgb(255, 236, 211);
    border-radius: 20px;
}

.project-content-header {
    margin-top: 30px;
    margin-bottom: 80px;
}

.project-img {
    margin-bottom: 80px;
}

.project-link {
    background-color: rgb(255, 248, 239);
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}

.project-link:hover {
    box-shadow: 0 0 8px rgb(196, 58, 58);
}

footer {
    margin-top: 80px;
    background-color: rgb(17, 8, 8);
    color: white;
    padding: 30px;
}

.footer-col {
    text-align: center;
}

.footer-ul, .footer-li {
    margin-top: 20px;
}

.footer-header {
    font-weight: bold;
}

.footer-link {
    text-decoration: none;
    color: white;
}

.footer-link:hover {
    color:burlywood;
}

@media (max-width: 576px) {
    .business-card {
        background-color: rgb(255, 248, 239);
        border: 2px solid black;
        overflow: hidden;
        width: 100vw;
        height: 500px;
        margin-top: 20px;
        border-radius: 0px;
    }

    .card-name {
        margin-top: 200px;
        margin-left: 20px;
        color: rgb(255, 255, 255);
        font-size: 10vw;
        z-index: 6;
        position: absolute;
        top: 30px;
    }
    
    .card-subheader {
        color: white;
        position: absolute;
        top: 290px;
        font-size: 6vw;
        transform: translate(23px);
    }

    .card-right-column {
        display: none;
    }

    .left-angle {
        background-color: rgb(17, 8, 8);
        width: 500px;
        height: 600px;
        transform: rotate(10deg) translate(-160px, -40px);
    }
}